@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

.coberturas{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c91936e;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-bottom: groove;
    border-left: groove;
    border-bottom: groove;
}
.conte-li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #0000004f;
    padding: 10px;
    border-radius: 10px;
    border-bottom: groove;
    border-left: groove;
}

p{
    font-size: large;
}
span{
    font-family: "Bona Nova SC", serif;
}