
.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: #4c91936e;
    padding-bottom: 25px;
    border-radius: 10px;
    border-left: outset;
    border-bottom: inset;
}
.sec-input{
    display: flex;
    flex-direction: column;
    background-color: #0000004f;
    padding: 15px;
    gap: 5px;
    border-radius: 10px;
    border-bottom: groove;
    border-left: groove;
}

input, select{
    border-bottom: groove;
    border-left: groove;
    font-family: "Bona Nova SC", serif;
}
.error{
    color: red;
    background-color: rgba(255, 228, 196, 0.842);
    font-size: large;
    padding: 5px;
    border: solid;
    margin-bottom: 5px;
}
button{
    margin-top: 10px;
}